// Colours
$color-primary: rgba(56,60,64,1);
$color-secondary: #324e6a;
$color-tertiary: #7691ac;

$color-grey-dark-1: rgba(83,83,83,1);
$color-grey-light-1: rgba(243,243,243,1);
$color-grey-light-2: rgba(220,220,220,1);

$color-white: #fff;
$color-black: #000;

// Fonts
$font-primary-regular: "IndustryBook";
$font-primary-semi-bold: "IndustryBookDemi";
$font-primary-bold: "IndustryBookBold";

// Transitions
$transition-point2sec: all .2s ease-in-out;
$transition-point3sec: all .3s ease-in-out;

//Shadows
$shadow-1: 0 0 10px -2px rgba($color-black, .5);
$shadow-2: 0 0 8px -2px rgba($color-black, .7);
$shadow-inset-1: inset 0 0 50px rgba($color-black, .5);